services:
  redis:
    image: redis:alpine
    container_name: algonest-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - algonest-network
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: algonest-backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URL=${MONGO_URL}
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASS=${EMAIL_PASS}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - CLIENT_URL=http://localhost:5173
      - JWT_SECRET=${JWT_SECRET}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
      - JWT_EXPIRES_IN=${JWT_EXPIRES_IN}
      - JWT_REFRESH_EXPIRES_IN=${JWT_REFRESH_EXPIRES_IN}
      - CLOUD_NAME=${CLOUD_NAME}
      - CLOUD_API_KEY=${CLOUD_API_KEY}
      - CLOUD_API_SECRET=${CLOUD_API_SECRET}
      - NODE_ENV=${NODE_ENV}
      - COOKIE_MAX_AGE=${COOKIE_MAX_AGE}
      - GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
      - GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
      - LINKEDIN_CLIENT_ID=${LINKEDIN_CLIENT_ID}
      - LINKEDIN_CLIENT_SECRET=${LINKEDIN_CLIENT_SECRET}
      - LINKEDIN_REDIRECT_URI=${LINKEDIN_REDIRECT_URI}
      - OTP_EXPIRY_SECONDS=${OTP_EXPIRY_SECONDS}
      - GITHUB_TOKEN_URL=${GITHUB_TOKEN_URL}
      - GITHUB_USER_URL=${GITHUB_USER_URL}
      - GITHUB_USER_EMAILS_URL=${GITHUB_USER_EMAILS_URL}
      - LINKEDIN_ACCESSTOKEN=${LINKEDIN_ACCESSTOKEN}
      - LINKEDIN_USERINFO=${LINKEDIN_USERINFO}
      - GROQ_API_KEY=${GROQ_API_KEY}
      - GROQ_API=${GROQ_API}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - CLOUDINARY_BASE_URL=${CLOUDINARY_BASE_URL}
      - LOCATION_API_URL=${LOCATION_API_URL}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - HOST_TEMP_PATH=${PWD}/temp
    depends_on:
      - redis
    volumes:
      - ./temp:/app/temp
      - ./uploads:/app/uploads
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - algonest-network
    restart: unless-stopped

networks:
  algonest-network:
    driver: bridge

volumes:
  redis-data:




  